.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #1985A1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

header {
    position: relative;
    top: -200px;
}

.nav-container {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.site-logo {
    width: 80px;
    margin-top: 20px;
}

#menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    font-family: sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #9ddfec;
}

nav ul li a:hover {
    color: #DEA54B;
}

body {
    justify-content: center;
    align-items: center;
    margin: 200px;
}

.about-intro-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.body-container {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.info-1 {
    flex-basis: 80%;
    position: relative;
}

.info-1 h1 {
    font-size: 60px;
    color: #1985A1;
    margin-bottom: -30px;
}

.info-1 h2 {
    font-size: 30px;
    color: #b9dde9;
}

.social-iconrow {
    font-size: 30px;
    margin-left: -40px;
}

.social-iconrow ul {
    display: flex;
    align-items: center;
}

.social-iconrow ul li {
    list-style-type: none;
    margin-right: 20px;
}

.social-iconrow ul li a {
    color: rgb(82, 79, 79);
}

.social-iconrow ul li a:hover {
    color: #DEA54B;
}

.info-1 a {
    text-decoration: none;
    color: #b9dde9;
}

.info-1 a:hover {
    color: #DEA54B;
}

.info-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.info-2 .profile-img {
    margin-left: 20%;
    width: 70%;
    float: right;
    height: auto;
}

.shape {
    position: absolute;
    width: 65%;
    left: 35%;
    z-index: -1;
}

.about-container {
    display: flex;
    flex-direction: row;
}

.about-left-column, .about-right-column {
    flex: 1;
}

#about {
    text-align: center;
    position: relative;
    margin-top: 10%;
    font-size: 25px;
    color: #DEA54B;
}

#about p {
    color: #b9dde9;
    font-size: 14px;
    text-align: justify;
    margin-top: 80px;
    margin-left: 50px;
}

.logos-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .software-logo {
    margin-top: 20px;
    width: 50%;
    height:auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  .software-logo:hover {
    filter: grayscale(0%);
  }

#experience {
    position: relative;
    width: 50%;
    margin-top: 5%;
    font-size: 25px;
    color: #DEA54B;
}

.tools-grid {
    display: flex;
    flex-wrap: wrap;
}

.tool-button {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #142A3C;
    color: #56DAD5;
    border: none;
    border-radius: 20px;
    font-size: 10px;
}

#experience h4 {
    font-size: 20px;
    color: #1985A1;
}

#experience p{
    font-size: 14px;
    color: #b9dde9;
}

#experience h5 {
    font-size: 14px;
    color: #768488;
    margin-top: -15px;
}

#experience ul li {
    color: #b9dde9;
    font-size: 14px;
}

.right-section {
    position: relative;
    left: 50%;
}

#projects {
    width: 50%;
    margin-top: 5%;
    font-size: 25px;
    color: #DEA54B;
}

#projects h4 {
    font-size: 20px;
    color: #1985A1;
}

#projects p{
    font-size: 14px;
    color: #b9dde9;
}

#projects a {
    text-decoration: none;
    color: #1985A1;
}

#projects a:hover{
    text-decoration: none;
    color: #DEA54B;
}

#contact {
    position: relative;
    margin-left: 50px;
    margin-top: 15%;
    font-size: 25px;
    text-align: center;
    color: #DEA54B;
}

#contact ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    font-family: sans-serif;
}

#contact ul li a {
    text-decoration: none;
    color: #1985A1;
}

#contact ul li a:hover {
    color: #DEA54B;
}

#contact h6 {
    color: #768488;
    font-size: 15px;
}

#contact p {
    font-size: 9px;
    margin-bottom: -15px;
}

@media (max-width: 900px) {

    header {
        position: relative;
        top: -10px;
    }

    .nav-container {
        padding-left: 2%;
        padding-right: 2%;
    }

    nav ul {
        width: 100%;
        position: absolute;
        max-height: 0px;
        top: 80px;
        right: 0;
        z-index: 2;
        display: block;
    }

    nav ul li {
        margin-right: 10px;
    }

    nav ul li a {
        color: #DEA54B;
    }

    #menuList {
        overflow: hidden;
        transition: 0.7s;
    }

    #menu-icon {
        display: block;
    }

    .site-logo {
        width: 60px;
        margin: 30px;
        margin-top: 30px;
    }

    body {
        margin: 20px;
    }

    .social-iconrow ul {
        display: flex;
        align-items: center;
    }

    .about-intro-row {
        display: inline;
        justify-content: space-between;
        align-items: center;
    }

    .info-1 h1 {
        font-size: 28px;
        display: inline-block;
        text-align: left;
        margin-bottom: -30px;
    }

    .info-1 h2 {
        text-align: left;
        font-size: 18px;
    }

    .info-2 {
        margin-top: 15%;
    }

    .info-2 .profile-img {
        margin-left: 0%;
        width: 80%;
    }
    
    .about-container {
        flex-direction: column;
        margin-left: 0px;
    }

    #about {
        font-size: 20px;
    }

    #about h2 {
        margin-left: 0%;
        display: inline;
        text-align: center;
    }

    #about h5 {
        margin-top: -10px;
    }

    #about p {
        margin: 0%;
        text-align: left;
        display: inline;
        font-size: 12px;
    }

    #about ul li {
        font-size: 12px;
    }

    #about ul li h4 {
        font-size: 12px;
    }

    #experience {
        position: relative;
        margin-left: 0%;
        width: 100%;
        font-size: 20px;
    }

    #experience h4 {
        font-size: 15px;
    }

    #experience h5 {
        font-size: 12px;
    }

    #experience ul li {
        font-size: 12px;
    
    }
    .right-section {
        margin-right: 0%;
        left: 0%;
    }

    #projects {
        position: relative;
        margin-left: 0%;
        width: 100%;
        font-size: 20px;
    }
    
    #projects h4 {
        font-size: 15px;
    }

    #projects ul li {
        font-size: 12px;
    }

    #contact {
        position: relative;
        margin-left: 0%;
        font-size: 20px;
    }

    #contact ul li {
        font-size: 20px;
    }

    #contact h6 {
        font-size: 10px;
    }
}