.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{width: 100%;
    display: flex;
    align-items: center;
    }
.logo{
    width: 100px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 25px;
    cursor:pointer
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style-type:none;
    display: inline-block;
    margin-right: 30px;
    font-family:sans-serif;
    font-weight: bold;
}
nav ul li a{
    text-decoration: none;
    color:#1985A1;
}
nav ul li a:hover{
    color: brown;
}
.iconbar{
    width: 5%;
}
.iconbar ul li{
    list-style-type: none;
    display: inline-block;
    left: -150px;
    top: 1px;
    padding: 30%;
}
.social-icon{
    color: rgb(82, 79, 79);
    width: 50px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}
.info-1{
    flex-basis: 80%;
    position: relative;
    margin-left: 50px;
}
.info-1 h1{
    font-size: 54px;
    color:#1985A1;
    margin-bottom: -30px;
}
.info-1 h2{
    font-size: 48px;
    color:#91b7c0;
}
.info-1 h3{
    font-size: 30px;
    color: #DEA54B;
    font-weight: 100;
    margin-bottom: -25px;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #735D78;
    background: linear-gradient(to right, #ecb050, #D99830);
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-1::before{
    content: '';
    width: 70%;
    height: 3px;
    background-color: #1985A1;
    position: absolute;
}
.info-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.info-2 .profile-img{
    margin-left: 20%;
    width: 70%;
    float: right;
    height: auto;
}
.shape{
    position:absolute;
    width: 65%;
    left: 35%;
    z-index: -1;
}